#normalize {
  color: white; }

.colors {
  background: url(../img/path/to/img.jpg); }

* {
  box-sizing: border-box; }

body {
  background: #F7F4EE;
  font-family: Lato; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

textarea {
  padding: 0.5em 0.7em;
  border: none;
  border-bottom: 1px solid #CCC;
  background: white;
  height: 38px;
  resize: vertical; }
  textarea:focus {
    outline: none;
    -webkit-appearance: none;
    border-bottom-color: orange; }

header {
  background: rgba(40, 40, 40, 0.9);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 5%;
  position: fixed;
  top: 0;
  width: 100%; }
  header h1 {
    margin: auto 0;
    color: white;
    font-size: 1em; }
    header h1 span {
      color: orange; }
  header .sub {
    margin: auto 0 auto 20px;
    color: #777;
    font-weight: 300;
    font-size: 0.8em; }
  header #headerLeft {
    display: flex; }
  header #headerRight {
    display: flex; }
    header #headerRight input {
      border: 0px;
      padding: 0px 3px; }
    header #headerRight .btn {
      background: orange;
      border: none;
      color: white;
      cursor: pointer;
      display: block;
      margin-left: 10px;
      padding: 0.3em 0.4em;
      border-left: 1px solid #111;
      border-right: 1px solid #111; }
      header #headerRight .btn:hover {
        background: #e69500; }

#main-wrap.upload {
  height: 100vh;
  display: flex; }
  #main-wrap.upload main {
    margin: auto;
    padding: 7vw 10vw;
    background: white;
    border: 1px solid #F0E5D7; }
    #main-wrap.upload main h1 {
      margin: 0 0 1em 0;
      font-size: 2.6em; }
    #main-wrap.upload main .title {
      color: #333;
      font-weight: 400; }
      #main-wrap.upload main .title span {
        color: orange; }
    #main-wrap.upload main .sub {
      font-size: 0.7em;
      font-weight: 400;
      color: #666; }

#main-wrap.edit {
  padding: 40px 0; }
  #main-wrap.edit main {
    width: 90%;
    margin: 0 auto; }
  #main-wrap.edit li {
    display: flex;
    margin-top: 1em; }
  #main-wrap.edit textarea {
    flex-grow: 1; }
  #main-wrap.edit .arrow {
    margin: auto 0.5em;
    color: #CCC; }
